@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 25, 25, 25;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 25, 25, 25;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.ProseMirror {
  @apply outline-none min-h-[500px] px-8 py-4;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}